.hero {
    width: 100%;
    height: 450px;
    background-color: #F5F5F5;
    margin-top: 80px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
}

.flex {
    display: inline-flex;
    width: 100%;
}

.cl {
    width: 50%;
}

.cll {
    width: 50%;
}

.cl .cl2 {
    font-family: 'Poppins', sans-serif;
    padding-bottom: 10px;
    margin-top: 75px;
}

.cl .cl2 h3 {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cl .cl2 p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #999999;
}

.cl3 {
    margin-top: 74px;
}

.cl .cl3 img {
    width: 87px;
    height: 20px;
}

.Cl4 {
    margin-top: 50px;
}

.Cl4 p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #999999;
    padding-bottom: 5px;
}

.Cl4 span {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.cl5 p {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    color: #999999;
    margin-top: 22px;
}

.cl5 span {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    margin-top: 22px;
}

.cll span {
    margin-top: 35px;
}

.cll .cll2 {
    float: right;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 103px;
    border: 2px solid transparent;
    border-bottom-color: #bfbfbf;
    padding-bottom: 4px;
}

.cll .cll2 .ic {
    padding-right: 7px;
}

.clltextbox {
    font-size: 12px;
    color: black;
    background-color: #F5F5F5;
    height: 22px;
    width: 285px;
    letter-spacing: 1px;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

.cll2 button {
    border: none;
    height: 24px;
    background-color: #F5F5F5;
    font-family: 'Poppins', sans-serif;
}

.cll .cll3 {
    width: max-content;
    margin-left: auto;
    margin-top: 212px;
}

.cll .cll3 ul {
    margin-top: 85px;
    display: flex;
}

.cll .cll3 ul li {
    list-style: none;
    padding: 15px;
    margin-right: auto;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.cll .cll3 ul li a {
    text-decoration: none;
    color: black;
}

.footericons {
    float: right;
    margin-top: -60px;
}

.footericons ul {
    margin-top: 60px;
    display: flex;
}

.footericons ul li {
    list-style: none;
    padding: 10px;
    margin-right: auto;
}

.footericons ul li a {
    text-decoration: none;
    color: #999999;
    font-size: 13px;
}

.par {
    margin-top: 130px;
    float: right;
    margin-right: -164px;
}

.par p {
    font-size: 11px;
    color: #999999;
}

.par p span {
    color: red;
}

@media only screen and (max-width:1200px){
    .container {
        width: 100%;
    }
    
    .cl {
        width: 50%;
    }
    
    .cll {
        width: 50%;
    }
}

@media only screen and (max-width:1167px){

    .cl .cl2 h3 {
        font-size: 14px;
    }
    
    .cl .cl2 p {
        font-size: 12px;
    }
    
    .cl .cl3 img {
        width: 80px;
        height: 20px;
    }
     
    .Cl4 p {
        font-size: 12px;
    }
    
    .Cl4 span {
        font-size: 12px;
    }
    
    .cl5 p {
        font-size: 12px;
    }
    
    .cl5 span {
        font-size: 12px;
    }
    
    .fa-regular.fa-envelope{
        font-size: 15px;
    }    
    .clltextbox {
        font-size: 11px;
        height: 22px;
        width: 250px;
    }
    
    .cll2 button {
        height: 20px;
    }  
}

@media only screen and (max-width:992px) {
    h4{
        font-size: 10px;
    }
}

@media only screen and (max-width:720px){

    .cll3 ul li a{
        padding-left: -20px;
    }

    .cll .cll3 ul li {
        padding: 10px;
    }
}

@media only screen and (max-width:630px){

    .cll .cll3 ul li {
        padding: 5px;
    }

    .cll .cll3 ul li a{
        font-size: 12px;
    }

}

@media only screen and (max-width:690px){

    .par {
        margin-top: 95px;
        margin-right: 0px;
    }
}

@media only screen and (max-width:690px){
   .par {
    margin-top: 73px;
    margin-right: 0px;
    width: 280px

}
}

@media only screen and (max-width:647px){

    .cll .cll2 .ic {
        padding-right: 7px;
    }
    
    .clltextbox {
        font-size: 12px;
        height: 22px;
        width: 200px;
        letter-spacing: 1px;
    }
}

@media only screen and (max-width:630px){
    .par {
        margin-top: 84px;
        margin-right: 0px;
        width: 280px
    
    }
}

@media only screen and (max-width:595px){

    .cll .cll2 .ic {
        padding-right: 5px;
    }
    
    .clltextbox {
        font-size: 11px;
        height: 22px;
        width: 180px;
    }

    .cll2 button {
        height: 20px;
    }
}

@media only screen and (max-width:573px){
    
    .par {
        margin-top: 101px;
    }
}

@media only screen and (max-width:524px){

    .par {
        margin-top: 126px;
    }
}

@media only screen and (max-width:514px){

    .cll .cll3 ul{
        margin-left: -40px;
    }
}

@media only screen and (max-width:512px){

    .cll .cll2 .ic {
        padding-right: 5px;
    }
    
    .clltextbox {
        font-size: 10px;
        height: 22px;
        width: 150px;
    }

    .cll2 button {
        height: 20px;
        font-size: 11px;
        padding:0px 5px;
    }
}

@media only screen and (max-width:485px){
   
    .par {
        margin-top: 123px;
        width: 200px;
    }
}

@media only screen and (max-width:473px){

    .fa-regular.fa-envelope{
        font-size: 13px;
    }

    .cll .cll2 .ic {
        padding-right: 4px;
    }
    
    .clltextbox {
        font-size: 9px;
        height: 22px;
        width: 140px;
    }

    .cll2 button {
        height: 20px;
        font-size: 10px;
        padding:0px 2px;
    }
}

@media only screen and (max-width:430px){

    .cll .cll3 ul li{
        padding: 3px;
        font-size: 11px;
    }
}

@media only screen and (max-width:404px){

     .cl .cl2 h3{
        font-size: 13px;
    }

    .cl .cl2 p{
        font-size: 11px;
    }
}

@media only screen and (max-width:390px){

    .cl .cl2 p{
        width: 150px;
    }

    .cll .cll3 ul li{
        padding: 2px;
        font-size: 10px;
    }
}







