.tagtext{
    margin-top: 28px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.tagbox{
    margin-left: 0px;
    padding-top: 25px;
    display: flex;
    width: 180px;
    flex-wrap: wrap;
}

.tagbox .tags1 ul{
    display: flex;
    padding-bottom: 10px;
}

.tagbox .tags1 ul li{
    list-style: none;
    padding: 3px;

}

button{
    width: 80px;
    height: 20px;
    border: 1px solid transparent;
    font-family: 'Poppins', sans-serif;
    color:	 #939393;
    font-size: 12px;
    cursor: pointer;
}

@media only screen and (max-width:1195px){

    .tagtext{
        font-size: 14px;
    }
    
    
    button{
        width: 75px;
        font-size: 11px;
    }
}

/* @media only screen and (max-width:1167px){

    .tagtext{
        font-size: 13px;
    }
    
    button{
        font-size: 11px;
    }
}

@media only screen and (max-width:1159px) {
    
    .tagtext{
        font-size: 12px;
    }
    
    button{
        font-size: 10px;
    }
}

@media only screen and (max-width:1105px) {
    
    .tagtext{
        font-size: 11px;
    }
    
    button{
        font-size: 9px;
    }

    .tagbox{
        width: 175px;
    }

    button{
        width: 60px;
        height: 20px;
    }
}

@media only screen and (max-width:992px) {
    
    .tagtext{
        font-size: 10px;
    }
    
    button{
        font-size: 8px;
    }

    .tagbox{
        width: 160px;
    }

    button{
        width: 70px;
        height: 20px;
    }
} */


