.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: 33.33%;
}

.item{
    height: 455px;
}

.img-container {
    width: 273px;
    height: 300px;
    background-color: #F5F5F5;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 80%;
    height: 80%;
    margin-left: 27px;
    margin-top: 27px;
}

.add-btn{
  opacity: 1;
  transition: opacity 0.5s ease;
  padding: 0 40px;
  height: 41px;
  line-height: 40px;
  width: 163px;
  cursor: pointer;
  z-index: 3;
  background-color: black;
  color: white;
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  margin-top: 10px;
}

.itemDetails:hover .add-btn{
    opacity: 1;
}


.img-container:hover .add-btn{
    opacity: 1;
}

.item{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    -webkit-transition: box-shadow 0.5s;
    transition: box-shadow 0.5s;
}

.item:hover{
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.img-container{
    -webkit-transition: height 0.5s;
    transition: height 0.5s;
}
/* 
.img-container img{
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, transform 0.5s;
    transition: opacity 0.5s, transform 0.5s, -webkit-transform 0.5s;
} */

/* .item:hover  .img-container{
    height: 100px;
} */


.d-flex .col-4 .item{
    width: max-content;
}
.d-flex .col-4 .item .itemDetails {
    text-align: center;
    padding-bottom: 20px;
    font-size: 19px;
}

.itemDetails {
    align-items: center;
}

.itemDetails h5 {
    padding-top: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
}

.rate {
    margin-left: 82px;
    margin-top: 10px;
} 

.rate p{
    margin-right: 52px;
    padding-top: 9px;
    color: #ccc;
    font-size: 14px;
}

.itemDetails .rate input {
    margin-right: 90px;
}

.rate:not(:checked)>input {
    position: absolute;
    top: -9999px;
}

.rate:not(:checked)>label {
    float: left;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 22px;
    color: #ccc;
}

.rate:not(:checked)>label:before {
    content: '★ ';
}

.rate>input:checked~label {
    color: #ffc700;
}

.rate:not(:checked)>label:hover,
.rate:not(:checked)>label:hover~label {
    color: #deb217;
}

.nextbuttons {
    margin-left: 343px;
    margin-top: 14px;
    padding: 10px;
    display: flex;
}

.nextbuttons button {
    width: 30px;
    border-radius: 40px;
    height: 30px;
    border: none;
    color: black;
    font-size: 13px;
    background-color: white;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.nextbuttons button #a {
    padding-left: 40px;
}

.button2 button {
    background-color: red;
    color: white;
}

.button3 button {
    background-color: white;
}

.button .prev-btn {
    background-color: #F5F5F5;
    color: #595959;
}

.button .next-btn {
    background-color: #F5F5F5;
    color: #595959;
}

.button .first-btn {
    background-color: red;
    color: white;
}

@media only screen and (max-width:1195px){

    
}

@media only screen and (max-width:1167px){

    .item{
        height: 455px;
    }
    
    .img-container {
        width: 262px;
        height: 290px;
    }

    .d-flex .col-4 .item .itemDetails {
        font-size: 18px;
    }
    
    .itemDetails h5 {
        font-size: 14px;
    }
    
    .rate {
        margin-left: 80px;
    } 
    
    .itemDetails .rate input {
        margin-right: 90px;
    }
    
    
    .rate:not(:checked)>label {
        font-size: 21px;
    }

    .add-btn{
        padding: 0 20px;
        height: 41px;
        line-height: 40px;
        width: 150px;
        border-radius: 20px;
        font-size: 14px;
      }
}

@media only screen and (max-width:1159px) {
    
    .nextbuttons {
        margin-left: 325px;
    }

}


@media only screen and (max-width:1105px) {
   
    .item{
        height: 430px;
    }
    
    .img-container {
        width: 255px;
        height: 280px;
    }

    .d-flex .col-4 .item .itemDetails {
        font-size: 18px;
    }
    
    .itemDetails h5 {
        font-size: 14px;
    }
     
    .rate {
        margin-left: 80px;
    } 
    
    .itemDetails .rate input {
        margin-right: 90px;
    }
    
    
    .rate:not(:checked)>label {
        font-size: 21px;
    }

    .add-btn{
        padding: 0 20px;
        height: 41px;
        line-height: 40px;
        width: 150px;
        border-radius: 20px;
        font-size: 14px;
      }

      .rate p{
        font-size: 14px;
    } 

    .add-btn{
        padding: 0 15px;
        height: 40px;
        line-height: 40px;
        width: 130px;
        border-radius: 20px;
        font-size: 13px;
      }

      .nextbuttons {
        margin-left: 320px;
    }
    
    .nextbuttons button {
        width: 28px;
        border-radius: 40px;
        height: 30px;
        font-size: 11px;
    }
    } 


@media only screen and (max-width:992px) {
    
    .item{
        height: 390px;
    }
    
    .img-container {
        width: 218px;
        height: 235px;
    }

    .d-flex .col-4 .item .itemDetails {
        font-size: 14px;
    }
    
    .itemDetails h5 {
        font-size: 14px;
    }
     
    .rate {
        margin-left: 70px;
    } 
    
    .itemDetails .rate input {
        margin-right: 90px;
    }
    
    .rate p{
        font-size: 14px;
        margin-left: -15px;
    } 
    
    .rate:not(:checked)>label {
        font-size: 17px;
    }

      .rate p{
        font-size: 12px;
    } 

    .add-btn{
        padding: 0 15px;
        height: 30px;
        line-height: 10px;
        width: 100px;
        border-radius: 20px;
        font-size: 11px;
      }

      .nextbuttons {
        margin-left: 255px;
    }
    
    .nextbuttons button {
        width: 27px;
        border-radius: 40px;
        height: 30px;
        font-size: 10px;
    }

}

@media only screen and (max-width:922px) {

    .col-4 {
        width: 50%;
    } 

    .item{
        height: 420px;
    }
    
    .img-container {
        width: 260px;
        height: 280px;
        background-color: #F5F5F5;
        justify-content: center;
        align-items: center;
    }
    
    .img-container img {
        width: 70%;
        height: 70%;
        margin-left: 36px;
        margin-top: 35px;
    }

    .rate p{
        margin-right: 84px;
        padding-top: 4px;
        font-size: 13px;
    }

}

@media only screen and (max-width:862px) {

    .item{
        height: 410px;
    }
    
    .img-container {
        width: 240px;
        height: 250px;
    }
    
    .img-container img {
        width: 70%;
        height: 70%;
        margin-left: 36px;
        margin-top: 35px;
    }

    .rate p{
        margin-right: 70px;
        padding-top: 4px;
        font-size: 13px;
    }

}

@media only screen and (max-width:768px){

    .col-4 {
        width: 33.33%;
    }
}