h4 {
    margin-top: 60px;
    margin-left: auto;
    position: absolute;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: black;
    margin-top: 96px;
}

.searchbar {
    margin-left: auto;
    display: flex;
    margin-top: 100px;
    float: left;
    padding-bottom: 10px;
    margin-top: 135px;
    border: 1px solid transparent;
    padding-bottom: 28px;
    padding-right: 85px;
    border-bottom-color: #dcdbdb;
}

.searchbar input {
    width: 130px;
    height: 25px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid;
    border-color: #dcdbdb;
    padding-left: 8px;
    font-size: 12px;
}

.searchbar button {
    width: 30px;
    border: 1px solid;
    border-color: #dcdbdb;
    background-color: white;
}

@media only screen and (max-width:1195px){

    h4{
        font-size: 14px;
    }

    .searchbar input {
        width: 120px;
        font-size: 12px;
    }
}

/* @media only screen and (max-width:1167px){

    h4{
        font-size: 13px;
    }
}

@media only screen and (max-width:1159px) {
     h4{
        font-size: 12px;
     }
}

@media only screen and (max-width:1105px) {
    h4{
        font-size: 11px;
    }

    .searchbar input {
        width: 120px;
        font-size: 10px;
    }
}

@media only screen and (max-width:992px) {
    h4{
        font-size: 10px;
    }
} */

