
.d-flex{
    display: inline-flex;
}
.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.col-1{
    width: 300px;
}
.col-2{
    width: 900px;
}

@media only screen and (min-width:1200px){
    
    .container{
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .col-1{
        width: 300px;
    }
    .col-2{
        width: 900px;
    }

}


@media only screen and (max-width:1200px){
    
    .container{
        width: 100%;
    }

    .col-1{
        width: 25%;
    }
    .col-2{
        width: 75%;
    } 

}


@media only screen and (max-width:1024px){
    .container{
        width: 1024px;
    }

    .col-1{
        width: 300px;
    }

    .col-2{
        width: 724px;
    }

}

@media only screen and (max-width:992px){

    .container{
        width: 992px;
    }

    .col-1{
        width: 300px;
    }

    .col-2{
        width: 692px;
    }

}

@media only screen and (max-width:768px){

    .container{
        width: 768px;
    }

    .col-1{
        width: 300px;
    }

    .col-2{
        width:468px ;
    }
}

@media only screen and (max-width:600px){

    .d-flex{
        display: block;
    }
    .container{
        width: 600px;
    }

    .col-1{
        width: 600px;
    }

    .col-2{
        width: 600px;
    }
}

@media only screen and (max-width:480px){

    .d-flex{
        display: block;
    }

    .container{
        width: 480px;
    }

    .col-1{
        width:480px;
    }

    .col-2{
        width: 480px;
    }
}

@media only screen and (max-width:420px){

    .d-flex{
        display: block;
    }

    .container{
        width:420px ;
    }

    .col-1{
        width: 420px;
    }

    .col-2{
        width: 420px;
    }
}


@media only screen and (max-width:375px){
    
    .d-flex{
        display: block;
    }
    
    .container{
        width: 375px;
    }

    .col-1{
        width: 375px;
    }

    .col-2{
        width: 375px;
    }
}

