.Price-Filters{
    margin-top: 20px;
    font-family: Arial;
    margin-left: auto;
    padding-bottom: 0;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.menuprice{
    float: left;
    width: 200px;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    padding-right: 60px;
}

.menuprice .price{
    display: flex;
    height: 25px;
    width: 100%;
    align-items: center;
}

.price input{
    width: 50px;
    height: 100%;
    margin-left: auto;
    border: 1px solid #999;
    outline: none;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
}

.menuprice .seperater{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    border: 1px solid transparent;
    border-bottom-color:#dcdbdb;
    padding-bottom: 28px;
}

.button button{
    margin-top: 22px;
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 11px;
}

@media only screen and (max-width:1195px){
    .Price-Filters{
        font-size: 14px;
    }

    .menuprice{
        width: 180px;
        font-size: 13px;
    }
    .price input{
        width: 45px;
        height: 85%;
        font-size: 13px;
    }

    .button button{
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 11px;
        padding-right: 11px;
        font-size: 10px;
    }
}

@media only screen and (max-width:827px){

    .menuprice{
        width: 155px;
        font-size: 13px;
    }

    .price input{
        width: 30px;
        height: 80%;
        font-size: 12px;
    }
}

/* @media only screen and (max-width:1167px){

    .Price-Filters{
        font-size: 13px;
    }

    .menuprice{
        width: 170px;
        font-size: 12px;
    }
    .price input{
        width: 40px;
        height: 83%;
        font-size: 13px;
    }

    .button button{
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 10px;
        padding-right: 10px;
        font-size: 9px;
    }
}

@media only screen and (max-width:1159px) {
    .Price-Filters{
        font-size: 12px;
    }

    .menuprice{
        width: 160px;
        font-size: 11px;
    }
    .price input{
        width: 40px;
        height: 83%;
        font-size: 11px;
    }

    .button button{
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 9px;
        padding-right: 9px;
        font-size: 8px;
    }

}

@media only screen and (max-width:1105px) {

    .Price-Filters{
        font-size: 11px;
    }

    .menuprice{
        width: 158px;
        font-size: 10px;
    }
    .price input{
        width: 40px;
        height: 83%;
        font-size: 10px;
    }

    .button button{
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 9px;
        padding-right: 9px;
        font-size: 8px;
    }

}

@media only screen and (max-width:992px) {
    .Price-Filters{
        font-size: 10px;
    }

    .menuprice{
        width: 158px;
        font-size: 9px;
    }
    .price input{
        width: 40px;
        height: 83%;
        font-size: 9px;
    }

    .button button{
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 9px;
        padding-right: 9px;
        font-size: 8px;
    }
} */

