.Price-Filters{
    margin-top: 20px;
    font-family: Arial;
    margin-left: auto;
    padding-bottom: 0;
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

.menuprice{
    float: left;
    width: 200px;
    display: flex;
    margin-top: 20px;
    margin-left: auto;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    /* border: 1px solid transparent;
    padding-bottom: 28px;
    border-bottom-color:#dcdbdb; */
    padding-right: 60px;
}

.menuprice .price{
    display: flex;
    height: 25px;
    width: 100%;
    align-items: center;
}

.price input{
    width: 50px;
    height: 100%;
    margin-left: auto;
    border: 1px solid #999;
    outline: none;
    text-align: center;
    border-radius: 5px;
    font-size: 14px;
}

.menuprice .seperater{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    border: 1px solid transparent;
    border-bottom-color:#dcdbdb;
    padding-bottom: 28px;
}

.button button{
    margin-top: 22px;
    color: white;
    background-color: black;
    font-family: 'Poppins', sans-serif;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 11px;
}


@media only screen and (max-width:375px){
    .Price-Filters{
        width: 100px;
        margin-left: 10px;
    }

    .menuprice{
        padding-left: 10px;
        width: 100px;
        display:block;
    }

    .menuprice .price{
        width: 100%;
    }

    .price input{
        width: 100%;
        margin-right: 11px;
        margin-left: 4px;
    }

}
