<div class="upperBar">
    <div class="freeShiping">
        <i class="fa-sharp fa-solid fa-location-arrow"></i>
        <span> FREE SHIPPING world wide for all orders over <span>$199</span> </span>
    </div>
    <div class="trackOrder">
        <span> Track Your Order </span>
    </div>
    <div class="dropdown1 ">
        <select>
            <option>English</option>
        </select>
    </div>
    <div class="dropdown2">
        <select>
            <option> US Dollar </option>
        </select>
    </div>
    <div class="icons">
        <ul>
            <li> <i class="fa-brands fa-twitter"></i> </li>
            <li><i class="fa-brands fa-facebook-f"></i></li>
            <li><i class="fa-brands fa-instagram"></i></li>
            <li> <i class="fa-brands fa-youtube"></i></li>
            <li><i class="fa-brands fa-tiktok"></i></li>
        </ul>
    </div>
</div>