.upperBar {
    display: flex;
    width: 1200px;
    margin: auto;
    padding-top: 10px;
    border: 1px solid transparent;
    border-bottom-color: #DCDCDC;
    outline: none;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.freeShiping {
    float: left;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.freeShiping span span {
    color: red;
}

.trackOrder {
    margin-left: 200px;
    padding-right: -40px;
}

.trackOrder span {
    text-decoration: underline;
    font-size: 13px;
    font-family: 'Poppins', sans-serif;
}

.dropdown1 {
    margin-left: 36px;
    outline: none;
}

.dropdown2 {
    margin-left: 32px;
    padding-left: 10px;
}

select {
    border: 1px solid transparent;
    border-left-color: #DCDCDC;
    padding-left: 29px;
    padding-right: 19px;
    font-family: 'Poppins', sans-serif;
}

.icons {
    float: inline-end;
    margin: auto;
    display: flex;
}

.icons ul {
    display: flex;
    list-style: none;
}

.icons ul li {
    padding-left: 20px;
}

@media only screen and (max-width:1400px){
 

    .freeShiping {
        font-size: 14px;
    }

    .trackOrder {
        margin-left: 270px;
    }

    .trackOrder span{
        font-size: 14px;
    }

    .dropdown1 {
        margin-left: 50px;
    }
    
    .dropdown2 {
        margin-left: 50px;
        padding-left: 15px;
    }

    select {
        padding-left: 50px;
        padding-right: 19px;
        font-size: 14px;
    }

    .icons ul li {
        padding-left: 28px;
    }
}





@media only screen and (max-width:1200px){   
    .upperBar {
        width: 100%;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 25px;
    }
    
    .freeShiping {
        font-size: 13px;
    }
    
    .trackOrder {
        margin-left: 200px;
        padding-right: -40px;
    }
    
    .trackOrder span {
        font-size: 13px;
    }
    
    .dropdown1 {
        margin-left: 36px;
    }
    
    .dropdown2 {
        margin-left: 32px;
        padding-left: 10px;
    }
    
    select {
        padding-left: 29px;
        padding-right: 19px;
        font-size: 12px;
    }
    
    .icons {
        margin: auto;
    }
    
    .icons ul li {
        padding-left: 20px;
       
    }
}

@media only screen and (max-width:1139px){

    .freeShiping{
        font-size: 12px;
    }

    .trackOrder{
      margin-left: 100px;
     
    }
    .trackOrder span {
        font-size: 12px;
    }
 
    select {
        padding-left: 29px;
        padding-right: 19px;
        font-size: 12px;
    } 
    .upperBar {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .freeShiping {
        font-size: 12px;
    }

    .icons ul li {
        padding-left: 30px;
    }

    .dropdown1 {
        margin-left: 80px;
        padding-left: -180px;
    }
    
    .dropdown2 {
        margin-left: 40px;
        padding-left: 2px;
    }
    
    .icons {
        margin-top: 4px;
    }
    .icons ul li {
        padding-left: 22px;
        font-size: 13px;
    }
}

@media only screen and (max-width:1048px){
   
    .freeShiping{
        font-size: 12px;
    }

    .trackOrder{
      margin-left: 100px;
     
    }
    .trackOrder span {
        font-size: 12px;
    }
 
    select {
        padding-left: 0px;
        padding-right: 19px;
        font-size: 12px;
    }

}

@media only screen and (max-width:1024px){
   
    .freeShiping{
        font-size: 12px;
    }

    .trackOrder{
      margin-left: 100px;
     
    }
    .trackOrder span {
        font-size: 12px;
    }
 
    select {
        padding-left: 0px;
        padding-right: 19px;
        font-size: 12px;
    }

}

@media only screen and (max-width:992px){

    select {
        padding-left: 0px;
}

}

@media only screen and (max-width:972px){
 
    .trackOrder {
        margin-left: 90px;
    }
    
}

@media only screen and (max-width:962px){
 
    .trackOrder {
        margin-left: 80px;
    }

    .dropdown1 {
        margin-left: 56px;
    }

    .dropdown2 {
        padding-left: 0px;
    }

    .icons ul li {
        padding-left: 10px;
    }
    
    select {
        padding-left: 10px;
        padding-right: 10px;
    }
}



/* 1440 | 1400 */
/* 1280 | 1200 */
/* 1024 */
/* 991 */
/* 768 */
/* 660 | 600 */
/* 480 */
/* 420 */
/* 375 */