<div class="box">
    <div class="boxcontent">
        <div class="icon">
            <i class="fa-solid fa-grip-vertical"></i>
        </div>
        <div class="icon">
            <i class="fa-solid fa-bars"></i>
        </div>
        <span>Showing 1-20 of 30 results </span>
        <div class="view1">
            <span class="View"> View :</span>
            <select id="view" [ngModel]="vservice.viewItem" (ngModelChange)="viewSelect($event)">
                <option *ngFor="let views of Views" value="{{views.viewvalue}}"> {{views.viewvalue}} </option>
            </select>
        </div>
        <div class="sortby2">
            <span class="View"> Sort by :</span>
            <select id="sortBy" [ngModel]="stservice.sortItem" (ngModelChange)="sort($event) ">
                <option selected disabled hidden> Sort By </option>
                <option *ngFor="let sort of sortby" value="{{sort.value}}"> {{sort.sortby}} </option>
            </select>
        </div>
    </div>
</div>